@use './partials/variable' as *;

$fa-font-path: '../webfonts';
// @import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '@fortawesome/fontawesome-free/scss/solid.scss';


@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');// font headerComponent


@import 'bootstrap/scss/bootstrap';

@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';


html, body {
    height: 100%;
      scroll-behavior: smooth;
  
  }

a{
    text-decoration: none;
}

main{
    background-color: black;
    // padding: 30px;
}