//@use './partials/variable' as *;

$fa-font-path: '../webfonts';
// @import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '@fortawesome/fontawesome-free/scss/solid.scss';
@import 'bootstrap/scss/bootstrap';

@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';

a{
    text-decoration: none;
}

main{
    background-color: black;
}