@use './partials/variable' as *;

$fa-font-path: '../webfonts';
// @import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '@fortawesome/fontawesome-free/scss/solid.scss';


@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');// font headerComponent


@import 'bootstrap/scss/bootstrap';

@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Shadows+Into+Light&display=swap');


html, body {
    height: 100%;
      scroll-behavior: smooth;
  
  }

a{
    text-decoration: none;
}

main{
    background-color: black;
    // padding: 30px;
    font-family: 'Titillium Web';
}
.btn-shadow{
    box-shadow: rgb(142, 140, 15) 5px 5px ;
}